.bodyContact {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contact {
    @include headerStyle('../assets/contact-header.jpg', 3);
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;

    .social {
        width: 25%;

        i {
            padding: 0 10px 20px 0;
        }

        address {
            font-style: normal;

            a {
                text-transform: lowercase;
            }
        }
    }

    form {
        background-color: $backgroundColour;
        box-shadow: -30px 30px $highlightColour;
        width: calc(75% - 50px);
        margin: 0 0 80px 50px;
        padding: 50px 75px 0;

        input {
            padding-right: 100px;
        }

        button {
            background-color: $primaryColour;
        }
    }
}