body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    // border: 2px solid peachpuff;
}

body {
    background-color: $primaryColour;
    color: $primaryTextColour;
    font-family: $primaryFontFamily;
    line-height: 1.6rem;
}

h2 {
    font-family: $secondaryFontFamily;
    font-size: 4rem;
    line-height: 4.6rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
}

h3 {
    font-family: $secondaryFontFamily;
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-family: $secondaryFontFamily;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

nav {
    font-family: $secondaryFontFamily;
    font-weight: 700;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
    text-align: center;

    ul {
        display: flex;
    }

    li {
        list-style-type: none;
        padding: 20px 0 0 50px;
    }

    // a {
    //     color: $primaryTextColour;
    //     text-transform: uppercase;
    // }
}

a {
    color: $primaryTextColour;
    text-transform: uppercase;
    text-decoration: none;
}

button {
    font-family: $secondaryFontFamily;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}

form {
    // border: 1px solid yellow;
    // padding: 50px 0;

    .inputs {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    p {
        padding-left: 20px;
    }

    input {
        color: $primaryTextColour;
        background: transparent;
        border: none;
        border-bottom: 2px solid $highlightColour;

        padding: 0 150px 0 5px;

        // &:active {
        //     box-shadow: none;
        // }
    }

    // how to make placeholder text white?
    // remove the red default border
    textarea {
        width: 100%;
        background: transparent;
        border: 2px solid $highlightColour;
        resize: none;
        color: $primaryTextColour;
        padding: 30px;
    }

    button {
        background-color: $backgroundColour;

        color: $primaryTextColour;
        width: 100%;
        margin: 50px 0;
    }
}

footer {
    background-color: $highlightColour;
    color: $primaryColour;
    text-align: center;
    
    a {
        color: $primaryColour;
        text-transform: capitalize;
    }
}