$primaryColour: #0C1423;
$primaryTextColour: #FFF;
$primaryFontFamily: 'Lato', sans-serif;
$secondaryFontFamily: 'Barlow', sans-serif;
$highlightColour: #86E0F9;
$backgroundColour: #0F614E;

$highlightColourDark: darken($highlightColour, 50);

@mixin headerStyle($location, $number) {
    background-image: url($location);
    min-height: 80vh;
    background-size: cover;
    background-position: center;

    ul {
        justify-content: flex-end;

        li:nth-child(#{$number}) a {
            color: $highlightColour;
        }
    }
}