$primaryFontFamily: 'Lato', sans-serif;
$secondaryFontFamily: 'Barlow', sans-serif;
$primaryColour: #0C1423;
$primaryTextColour: #FFF;
$highlightColour: #86E0F9;
$backgroundColour: #0F614E;

$highlightColourDark: darken($highlightColour, 100);

@mixin headerStyle($location, $number) {
    background-image: url($location);
    background-size: cover;
    background-position: center;

    ul {
        justify-content: flex-end;

        li:nth-child(#{$number}) a {
            color: $highlightColour;
        }
    }
}

@mixin inputWidth {
    form {
        .inputs {
            flex-direction: column;

            .name {
                margin-bottom: 30px;
            }

            input {
                width: 100%;
            }
        }
    }
}