$primaryColour: #0C1423;
$primaryTextColour: #FFF;
$primaryFontFamily: 'Lato', sans-serif;
$secondaryFontFamily: 'Barlow', sans-serif;
$highlightColour: #86E0F9;
$backgroundColour: #0F614E;

$highlightColourDark: darken($highlightColour, 50);

// @mixin h3Style {
//     font-family: $secondaryFontFamily;
//     font-size: 2.1rem;
//     letter-spacing: 0.05rem;
//     text-align: center;
//     text-transform: uppercase;
// }

// @mixin h4Style {
//     font-family: $secondaryFontFamily;
//     font-size: 1.6rem;
//     letter-spacing: 0.05rem;
//     text-transform: uppercase;
// }